<header class="site-header">
    <!-- Encabezado-->
    <div class="contenedor contenido-header">
        <div class="barra">

            <a href="/">
                <!-- Logo-->
                <img src="/img/logo-music.svg" alt="Logo Music Store">
            </a>


            <nav class="navegacion">
                <!-- Barra de Navegacion-->
                <a href="/">Nosotros</a>
                <a href="/productDetail">Productos</a>
                <a href="/register">Registro</a>
                <a href="/login">Logueate</a>
                <a href="/productCart"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                  </svg> </a>
            </nav>
        </div>

        <div class="burger-menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#2a2e34" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
              </svg>
        </div>
        <h1>¡Bienvenidos! Visita nuestra tienda online y sorpréndete</h1>
    </div> <!-- contenedor -->
