<nav class="navegacion">
    <!-- Barra de Navegacion-->
    <% if(locals.isLogged) { %>
        <li>
            <a>
                <img src="img/avatars/<%= locals.userLogged.fullName %>" width="40" style="border-radius 100%";>
                Hi <%= locals.userLogged.fullName %>
            </a>
        </li>
        <a href="/home">Nosotros</a>
    <% } else { %>
        <a href="/productDetail">Productos</a>
        <a href="/register">Registro</a>
        <a href="/login">Login</a>
    <% } %>
        <a href="/productCart"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="6" cy="19" r="2" />
            <circle cx="17" cy="19" r="2" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
        </svg> </a>
</nav>
</div>

<div class="burger-menu">
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#2a2e34" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg>
</div>

