<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.PNG">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="css/register.css" rel="stylesheet">
    <title>Music Center</title>
</head>

<body>

    <header class="site-header inicio">
        <!-- Encabezado-->
        <div class="contenedor contenido-header">
            <div class="barra">

                <a href="/">
                    <!-- Logo-->
                    <img src="/img/logo-music.svg" alt="Logo Music Store">
                </a>


                <nav class="navegacion">
                    <!-- Barra de Navegacion-->
                    <a href="/register">Nosotros</a>
                    <a href="/productDetail">Productos</a>
                    <a href="/register">Registro</a>
                    <a href="/login">Login</a>
                    <a href="/productCart"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                      </svg> </a>
                </nav>
            </div>

            <div class="burger-menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#2a2e34" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                  </svg>
            </div>
            <h1>¡Bienvenidos! Visita nuestra tienda online y sorpréndete</h1>
        </div> <!-- contenedor -->
    </header>



    <section class="contenedor seccion">
        <!-- Primera Seccion-->

        <h2 class="fw-300 centrar-texto">Categorías</h2>

        <div class="iconos-nosotros">

            <div class="icono">
                <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-headphones"
                        width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="13" rx="2" width="5" height="7" />
                        <rect x="15" y="13" rx="2" width="5" height="7" />
                        <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
                    </svg>
                </a>
                <h3>Sonido</h3>
                <p>Mollitia esse pariatur dolores doloremque molestiae amet hic. Incidunt ratione officia, placeat
                    ducimus
                    quod, animi quas illum, recusandae obcaecati mollitia assumenda exercitationem.</p>
            </div>

            <div class="icono">
                <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bulb"
                        width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
                        <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
                        <line x1="9.7" y1="17" x2="14.3" y2="17" />
                    </svg>
                </a>
                <h3>Iluminación</h3>
                <p>Mollitia esse pariatur dolores doloremque molestiae amet hic. Incidunt ratione officia, placeat
                    ducimus
                    quod, animi quas illum, recusandae obcaecati mollitia assumenda exercitationem.</p>
            </div>

            <div class="icono">
                <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-speaker"
                        width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="5" y="3" width="14" height="18" rx="2" />
                        <circle cx="12" cy="14" r="3" />
                        <line x1="12" y1="7" x2="12" y2="7.01" />
                    </svg>
                </a>
                <h3>Instrumentos</h3>
                <p>Mollitia esse pariatur dolores doloremque molestiae amet hic. Incidunt ratione officia, placeat
                    ducimus
                    quod, animi quas illum, recusandae obcaecati mollitia assumenda exercitationem.</p>
            </div>
        </div>
    </section>

    <main class="seccion contenedor">
        <!-- Segunda Seccion-->

        <h2 class="fw-300 centrar-texto">Productos Más Vendidos</h2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <img src="/img/pioneer.jpeg" alt="pioneer">
                <div class="contenido-anuncio">
                    <h3>Pioneer DJ Controller (DDJSB3)</h3>
                    <p>Controlador Pioneer, negro, ideal para beginners. Constructed from premium materials and the
                        audio circuitry. 8 Almohadillas retroiluminadas
                        sensibles a la velocidad, 4 perillas asignables, 4 botones asignables.</p>
                    <p class="precio">$3,000.000</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                                <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
                                <path d="M9 15c1.5 -1 4 -1 5 .5" />
                                <path d="M7 9c2 -1 6 -2 10 .5" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-soundcloud" width="32" height="32"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M17 11h1c1.38 0 3 1.274 3 3c0 1.657 -1.5 3 -3 3l-6 0v-10c3 0 4.5 1.5 5 4z" />
                                <line x1="9" y1="8" x2="9" y2="17" />
                                <line x1="6" y1="17" x2="6" y2="10" />
                                <line x1="3" y1="16" x2="3" y2="14" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-shazam"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12l2 -2a2.828 2.828 0 0 1 4 0a2.828 2.828 0 0 1 0 4l-3 3" />
                                <path d="M14 12l-2 2a2.828 2.828 0 1 1 -4 -4l3 -3" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </li>
                    </ul>

                    <a href="/productDetail" class="boton boton-amarillo d-block">Comprar</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/img/midi.jpg" alt="alesis">
                <div class="contenido-anuncio">
                    <h3>Alesis V25 25-Key MIDI Controller</h3>
                    <p>Controlador Pioneer, negro, ideal para beginners. Constructed from premium materials and the
                        audio circuitry. 8 Almohadillas retroiluminadas
                        sensibles a la velocidad, 4 perillas asignables, 4 botones asignables.</p>
                    <p class="precio">$2,000.000</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                                <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
                                <path d="M9 15c1.5 -1 4 -1 5 .5" />
                                <path d="M7 9c2 -1 6 -2 10 .5" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-soundcloud" width="32" height="32"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M17 11h1c1.38 0 3 1.274 3 3c0 1.657 -1.5 3 -3 3l-6 0v-10c3 0 4.5 1.5 5 4z" />
                                <line x1="9" y1="8" x2="9" y2="17" />
                                <line x1="6" y1="17" x2="6" y2="10" />
                                <line x1="3" y1="16" x2="3" y2="14" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-shazam"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12l2 -2a2.828 2.828 0 0 1 4 0a2.828 2.828 0 0 1 0 4l-3 3" />
                                <path d="M14 12l-2 2a2.828 2.828 0 1 1 -4 -4l3 -3" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </li>
                    </ul>

                    <a href="/productDetail" class="boton boton-amarillo d-block">Comprar</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/img/headset.jpg" alt="headphone">
                <div class="contenido-anuncio">
                    <h3>Pioneer Bluetooth Over-Ear DJ Headphones</h3>
                    <p>Controlador Pioneer, negro, ideal para beginners. Constructed from premium materials and the
                        audio circuitry. 8 Almohadillas retroiluminadas
                        sensibles a la velocidad, 4 perillas asignables, 4 botones asignables.</p>
                    <p class="precio">$3,000.000</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                                <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
                                <path d="M9 15c1.5 -1 4 -1 5 .5" />
                                <path d="M7 9c2 -1 6 -2 10 .5" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-soundcloud" width="32" height="32"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M17 11h1c1.38 0 3 1.274 3 3c0 1.657 -1.5 3 -3 3l-6 0v-10c3 0 4.5 1.5 5 4z" />
                                <line x1="9" y1="8" x2="9" y2="17" />
                                <line x1="6" y1="17" x2="6" y2="10" />
                                <line x1="3" y1="16" x2="3" y2="14" />
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-shazam"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12l2 -2a2.828 2.828 0 0 1 4 0a2.828 2.828 0 0 1 0 4l-3 3" />
                                <path d="M14 12l-2 2a2.828 2.828 0 1 1 -4 -4l3 -3" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </li>
                    </ul>

                    <a href="/productDetail" class="boton boton-amarillo d-block">Comprar</a>
                </div>
            </div>
        </div>

        <div class="ver-todas">
            <a href="/productDetail" class="boton boton-todos">Ver Todos</a>
        </div>
    </main>

    <section class="imagen-contacto">
        <!-- Tercera Seccion-->

        <div class="contenedor contenido-contacto">
            <h2>¿Eres DJ o Productor Musical?</h2>
            <p>Haz clic abajo y contáctanos para abrir un mundo de ofertas y descuentos especiales para ti.</p>
            <a href="/register" class="boton boton-amarillo">Contáctanos</a>
        </div>
    </section>

    <section class="final">
        <!-- Cuarta Sección-->
        <div class="contenedor-final">
            <article>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check" width="56"
                        height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 12l2 2l4 -4" />
                        <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                    </svg>
                </div>
                <h4>Compra Protegida</h4>
                <p>
                    Compra con confianza. Nuestro sitio tiene certificado de seguridad y contamos con las formas de pago
                    más seguras del mercado.
                </p>
            </article>


            <article>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck-delivery"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="7" cy="17" r="2" />
                        <circle cx="17" cy="17" r="2" />
                        <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                        <line x1="3" y1="9" x2="7" y2="9" />
                    </svg>
                </div>
                <h4>Envíos gratis a todo el País</h4>
                <p>
                    Realizamos envíos a todo el país. Tenemos una amplia red logística que asegura que tengas tu
                    producto en el menor tiempo posible.
                </p>
            </article>



            <article>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                        <path
                            d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
                    </svg>
                </div>
                <h4>¡Háblanos a WhatsApp!</h4>
                <p>
                    ¡Consulta lo que necesites! Haz click y háblanos a Whatsapp: <a href="#">+57 234 567 7890</a>
                </p>
            </article>
        </div>




    </section>

    <footer class="site-footer seccion">
        <!-- Footer-->
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a target="_blank" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-instagram" width="48" height="48" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#f5b301" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg></a>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                    </svg></a>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 12a4 4 0 1 0 4 4v-12a5 5 0 0 0 5 5" />
                    </svg></a>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5b301" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                        <path
                            d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
                    </svg></a>
            </nav>

            <p class="copyright"> Music Center | Todos los derechos reservados 2021 &copy;</p>
        </div>
    </footer>



</body>

</html>