 <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.PNG">
    <link href="css/login.css" rel="stylesheet">
    <title>Bienvenido</title>
</head>
<%- include('./partials/header') %>
    <!--<img class="guitarra" src="/img/gibson.jpeg" alt="guitarra">-->
<body>
    <form>

        <div>
            <h3>Acceder</h3>
        </div>
        <!-- formulario -->
        <div>
            <label class=>Nombre de usuario o correo electronico *</label>
            <input type="text" name="nombre/mail de usuario">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger"></div>
                <%= errors.email.msg %>
            <% } %>
        </div>

        <div>
            <label class=>Contraseña *</label>
            <input type="password" name="password de usuario">
        </div>

        <label>
            <input class="recordar" type="checkbox" name="recordar">Recordar</label>
        <button class="add" type="submit" value="Acceder">Good Music</button>

        <!--Olvidaste la contraseña-->
    </form>
    <%- include('./partials/footer') %>
    <script src=“front/frontlogin.js”></script>
</body>
</html>