<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <title>Bienvenido</title>
</head>
<header>
    <form action="usuario" method="post"></form>
</header>
<body>
    <form>
        <div>
            <h3>Acceder</h3>
        </div>
        <div>
            <label>Nombre de usuario o correo electronico *</label>
            <input type= "text" name= "nombre/mail de usuario">
        </div>
    
        <div>
            <label>Contraseña *</label>
            <input type= "password" name= "password de usuario">
        </div>

        <label>
            <input class= "recordar" type= "checkbox" name= "recordar">Recordar</label>
        <button type= "submit" value= "Acceder">Good Music</button>
    
        <!--Olvidaste la contraseña-->
    </form>
    

</body>
</html>