<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.PNG">
    <link href="css/register.css" rel="stylesheet">
    <title>Crear producto</title>
</head>
<%- include('./partials/header'); %>

<body>
    <form action="/register" method= "POST"
    enctype="multipart/form-data">
        <div>
            <h3>Registrese</h3>
        </div>
        <div>
            <label for=nombre>Nombre del producto *</label>
            <input type="text" name="nombre/mail de usuario">
        </div>

        <div>
            <label for=marca>Marca *</label>
            <input type="text" name="marca/mail de usuario">
        </div>

        <div>
            <label for=detalle>Detalle *</label>
            <input type="text" name="detalle">
            </div>

        <label for="imgAdd">Imagen</label>
        <input type="file" name="imgAdd" id="ingAdd" size="60">
    <a href="/productDetail">
        <button class="add" type="submit" value="Acceder">Registrese</button>
    </a>    
    </form>

    <%- include('./partials/footer'); %>
</body>

</html>