<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.PNG">
    <title>Detalles de Producto</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/productDetail.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4hKRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<%- include('./partials/header') %>
<body>
    <!--Codigo Header--> 

    <!--Codigo Main--> 
    <main>
        <!--Separacion de Header y main-->
        <div class="helper-separador"></div>
        <!--Div para Media de Laptop-->
        <div class="laptop">
            <!--IMG Producto Seleccionado--> 
            <div class="prod">
                <img class="prod-actual" src="/img/img-adaptador-jack.jpg" alt="Adaptador Jack">
           
            </div>
        
            <!--Selección de cantidad--> 
            <div>
                <h2>Pioneer DJ CDJ-2000NXS2 DJ profesional multijugador con unidad de disco, LCD a color</h2>
                <h3 class="h3-dif">$104.69</h3>
                <!--Desplegable cantidad-->
                <div class="add-cant">
                <label for="cantidad">Cantidad</label>
                <select style="cursor: pointer;" class= "cant"  name="cant" id="cantidad">
                <option class= "cant" value="1">1</option>
                <option class= "cant" value="2">2</option>
                <option class= "cant" value="3">3</option>
                <option class= "cant" value="4">4</option>
                <option class= "cant" value="5">5</option>
                </select>
                <!--Añadir al carrito--> 
                <button style="cursor: pointer;" class="add" type="submit">Añadir al carrito</button>
                </div>
                <br>
            </div>
        </div>

        <div>
            <!--separador de contenido-->
            <div class="separador-contenedor">
            <div class="separador"></div>
            </div>
            <br>

            <!--Descripcion producto--> 
            <h3 class="h3-dif" margin:80px>Con una construcción refinada y remasterizada, el CDJ-2000NXS2 hereda las mejores características de su predecesor, el CDJ-2000NXS, y da un gran paso adelante. Agregamos una pantalla táctil multicolor más prominente con un teclado Qwerty y filtros de búsqueda para ayudarlo a seleccionar pistas más rápido. Dos bancos de cuatro Hot Cues le brindan más libertad creativa, mientras que una tarjeta de sonido de 96 kHz/24 bits y soporte para FLAC/Apple Lossless Audio (ALAC) significa que puede jugar con formatos de mayor resolución.</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deleniti. Consequuntur veritatis perspiciatis iusto vero!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore a sit voluptates! Commodi, est? Labore beatae debitis exercitationem error nihil ex tenetur aperiam consectetur, quos dolorem fugiat dolorum, eligendi suscipit.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas enim tempora, doloribus qui rem nihil quibusdam iste magnam maxime pariatur!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, a!</p>
            <br>
        </div>
        <!--separador de contenido-->
        <div class="separador-contenedor">
        <div class="separador"></div>
        <br>
        </div> 
            <div>
            <h2>Productos relacionados</h2>
            <br>
            </div>  
        <!--Contenedor de productos con su link-->
        <div class="contenedor-productos">
            <div class="relacionado">
                <div>
                <img class="prod-rel" src="/img/img-auricular-proGbr.jpg" alt="Auricular Gbr">
                </div>
            <a class="links" href="">Hercules DJ Universal DJ Controlador de DJ de 2 canales con Bluetooth</a>
            <h3>$44,863.85</h3>
            <br>
            </div>
            
            <div class="relacionado">
                <div>
                <img class="prod-rel" src="/img/img-bafle-driverTita.jpg" alt="Bafle Driver Tita">
                </div>
            <a class="links" href="">Bafle 12 1000w Driver Tita Platinum Eon Activo Envio Gratis</a>
            <h3>$65,801.01</h3>
            <br>
            </div>
            
        </div>

        </div>
    </main>
        <!-- Footer-->
        <%- include('./partials/footer') %>
    <script src=“front/frontProductDetail.js”></script>
</body>

</html>