<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.PNG">
    <link href="css/register.css" rel="stylesheet">
    <title>Registrese</title>
</head>
<%- include('./partials/header'); %>

<body>
    <form action="/register" method= "POST"
    enctype="multipart/form-data">
        <div>
            <h3>Registrese</h3>
        </div>
        <div>
            <label for=nombre>Nombre de usuario *</label>
            <input type="text" name="nombre/mail de usuario">
        </div>

        <div>
            <label for=apellido>Apellido *</label>
            <input type="text" name="apellido/mail de usuario">
        </div>

        <div>
            <label for=email>Correo electrónico *</label>
            <input type="email" name="emailUsuario">
            </div>

        <div>
            <label for=contraseña>Contraseña *</label>
            <input type="password" name="password de usuario">
        </div>
        <label for="imgAdd">Imagen</label>
        <input type="file" name="imgAdd" id="ingAdd" size="60">
        <div>
            <h3>Sus datos personales se utilizarán para respaldar su experiencia en este sitio web, para administrar el
                acceso a su cuenta y para otros fines descriptos en nuestra</h3>
            <h3 class="politica">política de privacidad.</h3>
        </div>
   
        <a href="/userProfile" class="add" type="submit" value="Acceder">Registrese></a>
     
    </form>

    <%- include('./partials/footer'); %>
</body>

</html>
