html {
    font-size: 62.5%;
    /* Reset para REMS 62.5% = 10px de 16px */
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.site-header {
    background-color: #3b3f46;
    padding: 1rem 0 3rem 0;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
        
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacion {
        display: none;
    }
    .navegacion a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 2.2rem;
    }
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
        /* 18px = 1.8 rem */
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover {
    color: #f5b301;
}


.burger-menu{
    text-align: center;
  }
  .burger-menu svg{
    background-color: #2a2e34;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
  }
 html {
    font-size: 62.5%;
    /* Reset para REMS 62.5% = 10px de 16px */
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 1rem;
}

form {
    font: 'roboto';
}

body {
    background-color:#ebebeb;
   /* padding: 30px 20px;*/
    align-items: center;
}
.site-header {
    background-color: #3b3f46;
    padding: 1rem 0 3rem 0;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Navegacion */
.navegacion {
    display: none;
}
.navegacion a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
        /* 18px = 1.8 rem */
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover {
    color: #f5b301;
}


.burger-menu{
    text-align: center;
  }
  .burger-menu svg{
    background-color: #2a2e34;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
  }
input {
background: #FFFFFF;
margin: 0px 0px 15.52px;
padding: 6px 11.64px;
width: 100%;
}

div:hover{
    box-shadow: silver;
}

h3 {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #555;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    color: #555;
    transition-property: color, color;
}

label {
    color: #8b8b8b;
    font-weight: bold;
    display: block;
    font-size: .9em;
    margin-bottom: 0.4em;
    font-size: 18px;
}

.recordar {
    position: relative;
    bottom: -34px;
    left: -80px;
}
.uppercase {
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
}
/*<!-- good music -->*/


.add{
    border-radius: 8px;
    padding: 7px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fedd33;
    color: #2a2e34;
}

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}





@media (min-width: 361px) {

}

@media (min-width: 769px) {
    form {
        width: 30%;
    }x  
    .contenido-header {
        text-align: left;
        
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacion {
        display: none;
    }
    .navegacion a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 2.2rem;
    }
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
        /* 18px = 1.8 rem */
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }

    .site-footer nav {
        display: none;
    }

    .site-footer {
        background-color: #333333;
        margin: 0;
    }
    
    .contenedor-footer {
        padding: 3rem 0;
        text-align: center;
    }
    
    @media (min-width: 768px) {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .site-footer nav {
        display: none;
    }
    
    @media (min-width: 768px) {
         .navegacion{
             display: block;
         }
        .burger-menu {
            display: none;
        }
        
        .contenedor-final{
            display: flex;
            justify-content: space-around;
        }
        .contenedor-final article{
            width: 50%;
        }
        .site-footer nav {
            display: block;
        }
    }
    
    .copyright {
        margin: 0;
        color: #ffffff;
    }
    
    
    
    







}